<div fxFlexFill fxLayout="column">
  <div fxFlex class="text-center jumbotron bg-light m-0">
    <div class="display-2">Tools</div>
    <p class="lead text-muted mb-5">A useful list of tools to support the functioning and the management of the platform</p>

    <div class="card-deck">
      <div class="card text-center p-4 m-5">
        <a class="card-block stretched-link text-decoration-none" routerLink="cryptography">
          <h4 class="card-title">Cryptography</h4>
          <p class="card-text">🔑</p>
        </a>
      </div>
      <div class="w-100 d-none d-sm-block d-md-none"></div>
      <div class="card text-center p-4 m-5">
        <a class="card-block stretched-link text-decoration-none" routerLink="data">
          <h4 class="card-title">Data</h4>
          <p class="card-text">📂</p>
        </a>
      </div>
    </div>
  </div>
</div>
