<div fxFlexFill fxLayout="column" *ngIf="!adding_version">
  <div fxFlex style="overflow: auto" *ngIf="!error; else error_template">
    <div class="container mt-2 mb-2">
      <div class="row justify-content-center">
        <div class="col-10">
          <div class="row mb-2">
            <div class="display-4">View process <button *ngIf="!process['deactivation']" class="btn btn-sm btn-dark" (click)="show_deactivation_confirmation(confirm_deactivation_template)">Deactivate</button></div>
          </div>
          <div class="row mb-5">
            <h5 class="h-5 clickable btn-link" (click)="back()"><< Back</h5>
          </div>
          <div class="row mb-3">
            <div class="col-4">
              <h3 class="h-3 font-weight-light m-0">Identifier</h3>
              <div class="form-control-plaintext font-weight-bold" id="process">{{ process['process'] }}</div>
            </div>
            <div *ngIf="process['resources']" class="col-4 text-center">
              <h3 class="h-3 font-weight-light">Information</h3>
              <div class="btn-group" role="group">
                <button *ngIf="process['resources']['data']" class="btn btn-sm btn-primary" [ngClass]="{ 'mr-2': process['resources']['options'] }" (click)="show_data(display_data)">Show data</button>
                <button *ngIf="process['resources']['options']" class="btn btn-sm btn-primary" type="button" (click)="show_options(display_options)">Show options</button>
              </div>
            </div>
          </div>
          <div class="row mb-5">
            <div class="col-4">
              <h3 class="h-3 font-weight-light m-0">State</h3>
              <div class="form-control-plaintext font-weight-bold" [ngClass]="{'text-danger': process['state'] == 'deactivated', 'text-success':  process['state'] == 'active' }" id="state">{{ process['state'] }}</div>
            </div>
            <div class="col-4 text-center">
              <h3 class="h-3 font-weight-light m-0">Creation</h3>
              <div class="clickable btn-link form-control-plaintext font-weight-bold" id="creation" [routerLink]="['traces', process['traces']['creation']]">{{ process['creation'] | date:'dd/MM/yyyy HH:mm' }}</div>
            </div>
            <div *ngIf="process['deactivation']" class="col-4 text-right">
              <h3 class="h-3 font-weight-light m-0">Deactivation</h3>
              <div class="clickable btn-link form-control-plaintext font-weight-bold" id="deactivation" [routerLink]="['traces', process['traces']['deactivation']]">{{ process['deactivation'] | date:'dd/MM/yyyy HH:mm' }}</div>
            </div>
          </div>
          <form>
            <div class="row mb-2">
              <div class="col-6">
                <h3 class="h-3 font-weight-light m-0">Versions</h3>
              </div>
            </div>
            <div class="row flex-fill align-items-end mb-4">
              <div class="col-4">
                <label for="search" class="control-label font-weight-bold">Filter by identifier</label><input class="form-control" type="text" name="filter" [(ngModel)]="display_service['filter_term']" />
              </div>
              <div class="col-4"></div>
              <div class="col-4">
                <div class="float-right">
                  <button class="btn btn-primary mr-2" type="button" (click)="refresh_table()"><i class="fa fa-refresh"></i> Refresh</button>
                  <button class="btn btn-primary float-right" type="button" (click)="adding_version = true" [disabled]="process['state'] === 'deactivated'"><i class="fa fa-plus"></i> New version</button>
                </div>
              </div>
            </div>

            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <ng-container *ngFor="let parameter of [{ 'name': 'Version', 'sortable': true }, { 'name': 'State', 'sortable': true }, { 'name': 'Creation', 'sortable': true }, { 'name': 'Deactivation', 'sortable': true }, { 'name': 'File', 'sortable': false }, { 'name': 'Instances', 'sortable': false }]">
                      <ng-container *ngIf="!parameter['sortable']; else sortable_column">
                        <th scope="col"><div class="p-1">{{ parameter['name'] }}</div></th>
                      </ng-container>
                      <ng-template #sortable_column>
                        <th scope="col" class="sortable" sortable="{{ parameter['name'].toLowerCase() }}" (sort)="sort($event)">
                          <div class="d-flex flex-row align-text-top">
                            <div class="pr-2 pt-2 position-relative">
                              <i class="fa fa-sort-up position-absolute" [ngStyle]="{ 'opacity': (display_service['sort_field'] !== parameter['name'].toLowerCase()) || (display_service['sort_direction'] == 'desc') ? 0.4 : 1  }"></i>
                              <i class="fa fa-sort-down position-absolute" [ngStyle]="{ 'opacity': (display_service['sort_field'] != parameter['name'].toLowerCase()) || (display_service['sort_direction'] == 'asc') ? 0.4 : 1 }"></i>
                            </div>
                            <div class="p-1">{{ parameter['name'] }}</div>
                          </div>
                        </th>
                      </ng-template>
                    </ng-container>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngIf="display_service.loading | async; else loaded_table">
                    <tr>
                      <td align="center" colspan="6">LOADING...</td>
                    </tr>
                  </ng-container>
                  <ng-template #loaded_table>
                    <ng-container *ngIf="(versions | async)?.length > 0; else empty_table">
                      <tr *ngFor="let version of versions | async; let i = index">
                        <td class="align-middle"><div class="btn btn-link" [routerLink]="['versions', version['version']]"><ngb-highlight [result]="version['version']" [term]="display_service['filter_term']"></ngb-highlight></div></td>
                        <td class="align-middle" [ngClass]="{'text-danger': version['state'] == 'deactivated', 'text-success':  version['state'] == 'active' }"><ngb-highlight [result]="version['state']" [term]="display_service['filter_term']"></ngb-highlight></td>
                        <td class="align-middle"><ngb-highlight [result]="version['creation'] | date:'dd/MM/yyyy HH:mm'" [term]="display_service['filter_term']"></ngb-highlight></td>
                        <td class="align-middle"><ngb-highlight [result]="version['deactivation'] ? (version['deactivation'] | date:'dd/MM/yyyy HH:mm') : 'N/A'" [term]="display_service['filter_term']"></ngb-highlight></td>
                        <td class="align-middle">
                          <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group mr-2 align-middle" role="group">
                              <button type="button" class="btn btn-sm btn-primary" (click)="view_model(version)">View</button>
                            </div>
                          </div>
                        </td>
                        <td class="align-middle"><div class="d-flex flex-row"><div class="p-2"><ngb-highlight [result]="version['instances'] | number" [term]="display_service['filter_term']"></ngb-highlight></div></div></td>
                      </tr>
                    </ng-container>
                    <ng-template #empty_table>
                      <tr>
                        <td align="center" colspan="6">NO ENTRY FOUND</td>
                      </tr>
                    </ng-template>
                  </ng-template>
                </tbody>
              </table>
            </div>

            <div class="d-flex justify-content-between p-2">
              <ngb-pagination [collectionSize]="(total_number_of_versions | async)!" [(page)]="display_service['current_page']" [pageSize]="display_service['page_size']">
              </ngb-pagination>

              <select class="custom-select" style="width: auto" name="page_size" [(ngModel)]="display_service['page_size']">
                <option [ngValue]="5">5 items per page</option>
                <option [ngValue]="10">10 items per page</option>
                <option [ngValue]="25">25 items per page</option>
                <option [ngValue]="50">50 items per page</option>
              </select>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #error_template>
  <div fxFlex style="overflow: auto">
    <ul>
      <li>ERROR</li>
      <li *ngFor="let field of error.error | keyvalue">
        {{ field.key }} : {{ field.value }}
      </li>
    </ul>
  </div>
</ng-template>

<div *ngIf="adding_version" fxFlexFill fxLayout="column" class="container p-0"><create-version fxFlex style="overflow: auto" (cancelled)="adding_version = false" (saved)="add_version($event)"></create-version></div>
<ng-template #confirm_deactivation_template>
  <div class="modal-body text-center bg-light text-dark">
    <div class="mb-3">You are about to deactivate this process. Active versions will be deactivated, and related inactive/running instances will be canceled definitively.</div>
    <div class="mb-4 font-weight-bold">Do you want to proceed?</div>
    <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Actions">
      <div class="btn-group mr-2" role="group">
        <button type="button" class="btn btn-dark" (click)="deactivation_modal.hide()">No</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-danger" (click)="confirm_deactivation()">Yes</button>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #display_data>
  <div class="modal-body text-center bg-light text-dark">
    <div class="mb-4">
      <textarea disabled rows="12" style="resize: none" class="form-control bg-light" id="options" name="options" aria-describedby="options-description">{{ process['resources']['data'] | json }}</textarea>
    </div>
    <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Actions">
      <div class="btn-group mr-2" role="group">
        <button type="button" class="btn btn-dark" (click)="data_modal.hide()">Close</button>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #display_options>
  <div class="modal-body text-center bg-light text-dark">
    <div class="mb-4">
      <textarea disabled rows="12" style="resize: none" class="form-control bg-light" id="options" name="options" aria-describedby="options-description">{{ process['resources']['options'] | json }}</textarea>
    </div>
    <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Actions">
      <div class="btn-group mr-2" role="group">
        <button type="button" class="btn btn-dark" (click)="options_modal.hide()">Close</button>
      </div>
    </div>
  </div>
</ng-template>
