<div fxFlexFill fxLayout="column">
  <div class="container mt-2 mb-2">
    <div class="row justify-content-center">
      <div fxFlex fxLayout="column" class="col-10 justify-content-center">
        <div class="row">
          <div class="display-4 mb-4">Create a new instance</div>
        </div>
        <div *ngIf="error['activated'] && error['type'] === 'invalid-or-missing-fields'" class="row">
          <div class="col-10 pl-0">
            <ngb-alert type="danger" (closed)="error = { 'activated': false }">
                Missing or invalid fields. Please correct errors and try again.
            </ngb-alert>
          </div>
        </div>
        <form fxFlex fxLayout="column" [formGroup]="form">
          <div fxFlex fxLayout="column">
            <div class="form-group row">
              <div class="col-6 pl-0">
                <div class="col-11 pl-0 pr-0">
                  <label for="identifier" class="control-label font-weight-bold">Instance identifier</label>
                  <input type="text" class="form-control" autocomplete="off" [ngClass]="{'is-invalid': form.controls.identifier.invalid && (form.controls.identifier.touched || form.controls.identifier.dirty), 'is-valid': form.controls.identifier.valid && form.controls.identifier.dirty }" id="identifier" name="identifier" formControlName="identifier" aria-describedby="identifier-description">
                  <div *ngIf="form.controls.identifier.invalid && (form.controls.identifier.dirty || form.controls.identifier.touched)" class="text-danger form-text">
                    <div *ngIf="form.controls.identifier.errors.required">
                      Identifier is required
                    </div>
                    <div *ngIf="form.controls.identifier.errors.minlength">
                      Identifier must be at least {{form.controls.identifier.errors.minlength.requiredLength}} characters long
                    </div>
                    <div *ngIf="form.controls.identifier.errors.pattern">
                      Identifier should contain alphanumeric characters only
                    </div>
                  </div>
                  <small *ngIf="form.controls.identifier.pristine" id="identifier-description" class="form-text text-muted">Instance identifier should be unique</small>
                </div>
              </div>
            </div>

            <div *ngIf="extended" class="form-group row">
              <div class="col-6 pl-0">
                <div>
                  <label for="process" class="control-label font-weight-bold">Process</label>
                  <div class="row">
                    <div class="col-11">
                      <div class="input-group">
                        <input (click)="show_list_of_processes($event)" active_process class="form-control" type="text" name="process" autocomplete="off" id="process" formControlName="process" [ngClass]="{'is-invalid': form.controls.process.invalid && (form.controls.process.touched || form.controls.process.dirty), 'is-valid': form.controls.process.valid }" />
                        <div class="input-group-append">
                          <button [disabled]="form.controls.process.pending" class="btn btn-primary" type="button" (click)="update_list_of_processes($event)">
                            <i class="fa fa-search"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="form.controls.process.pending" class="d-flex align-items-center">
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    </div>
                  </div>
                  <div *ngIf="form.controls.process.invalid && (form.controls.process.dirty || (form.controls.process.touched && !display_list_of_processes))" class="text-danger form-text">
                    <div *ngIf="form.controls.process.errors['required']">
                      Process identifier is required
                    </div>
                    <div *ngIf="form.controls.process.errors['inactive']">
                      Process is not active
                    </div>
                    <div *ngIf="form.controls.process.errors['nonexistent']">
                      Process does not exist
                    </div>
                    <div *ngIf="form.controls.process.errors['http_error']">
                      Validation of process has failed (backend error)
                    </div>
                  </div>
                  <small id="process-description" class="form-text text-muted">Choose to which process the instance should be related to.</small>
                  <list-processes-minimal *ngIf="display_list_of_processes" class="border border-dark" (click)="$event.stopPropagation()" [search_field]="search_process" (selected)="update_process_field($event)"></list-processes-minimal>
                </div>
              </div>
            </div>

            <div *ngIf="extended" class="form-group row">
              <div class="col-6 pl-0">
                <div>
                  <label for="version" class="control-label font-weight-bold">Version</label>
                  <div class="row">
                    <div class="col-11">
                      <div class="input-group">
                        <input (click)="show_list_of_versions($event)" class="form-control" type="text" name="version" autocomplete="off" id="version" formControlName="version" [ngClass]="{'is-invalid': form.controls.version.invalid && (form.controls.version.touched || form.controls.version.dirty), 'is-valid': form.controls.version.valid }" />
                        <div class="input-group-append">
                          <button [disabled]="this.form.controls.version.disabled" class="btn btn-primary" type="button" (click)="update_list_of_versions($event)">
                            <i class="fa fa-search"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="form.controls.version.pending" class="d-flex align-items-center">
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    </div>
                  </div>
                  <div *ngIf="form.controls.version.invalid && (form.controls.version.dirty || (form.controls.version.touched && !display_list_of_versions))" class="text-danger form-text">
                    <div *ngIf="form.controls.version.errors['required']">
                      Version identifier is required
                    </div>
                    <div *ngIf="form.controls.version.errors['inactive']">
                      Selected version is not active
                    </div>
                    <div *ngIf="form.controls.version.errors['nonexistent']">
                      Version does not exist
                    </div>
                    <div *ngIf="form.controls.version.errors['http_error']">
                      Validation of version has failed (backend error)
                    </div>
                  </div>
                  <small id="version-description" class="form-text text-muted">Choose the version to use when registering traces during execution.</small>
                  <list-versions-minimal *ngIf="display_list_of_versions" class="border border-dark" [process]="this.form.controls.process.value" [search_field]="search_version" (selected)="update_version_field($event)"></list-versions-minimal>
                </div>
              </div>
            </div>

            <div class="form-group row mt-3">
              <div class="col-10 pl-0">
                <ngb-accordion #information="ngbAccordion" type="light">
                  <ngb-panel id="data-panel">
                    <ng-template ngbPanelHeader>
                      <div class="d-flex align-items-center justify-content-start">
                        <button ngbPanelToggle class="btn p-0"><i class="fa" [ngClass]="{ 'fa-plus-square': !information.isExpanded('data-panel'), 'fa-minus-square': information.isExpanded('data-panel') }"></i></button>
                        <button ngbPanelToggle class="btn"><h5 class="m-0">Additional data</h5></button>
                      </div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                      <textarea rows="12" style="resize: none" class="form-control" [ngClass]="{'is-invalid': form.controls.data.invalid && (form.controls.data.touched || form.controls.data.dirty) && form.controls.data.value !== '', 'is-valid': form.controls.data.valid && form.controls.data.dirty && form.controls.data.value !== '' }" id="data" name="data" formControlName="data" aria-describedby="data-description"></textarea>
                      <small *ngIf="form.controls.data.pristine" id="data-description" class="form-text text-muted">Add any additional JSON data for the instance here.</small>
                      <div *ngIf="form.controls.data.invalid && (form.controls.data.dirty || form.controls.data.touched)" class="text-danger form-text">
                        Additional data should be a valid JSON
                      </div>
                    </ng-template>
                  </ngb-panel>
                  <ngb-panel id="options-panel">
                    <ng-template ngbPanelHeader>
                      <div class="d-flex align-items-center justify-content-start">
                        <button ngbPanelToggle class="btn p-0"><i class="fa" [ngClass]="{ 'fa-plus-square': !information.isExpanded('options-panel'), 'fa-minus-square': information.isExpanded('options-panel') }"></i></button>
                        <button ngbPanelToggle class="btn"><h5 class="m-0">Instance options</h5></button>
                      </div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                      <textarea rows="12" style="resize: none" class="form-control" [ngClass]="{'is-invalid': form.controls.options.invalid && (form.controls.options.touched || form.controls.options.dirty) && form.controls.options.value !== '', 'is-valid': form.controls.options.valid && form.controls.options.dirty && form.controls.options.value !== '' }" id="options" name="data" formControlName="options" aria-describedby="options-description"></textarea>
                      <small *ngIf="form.controls.options.pristine" id="options-description" class="form-text text-muted">Add instance options here.</small>
                      <div *ngIf="form.controls.options.invalid && (form.controls.options.dirty || form.controls.options.touched)" class="text-danger form-text">
                        Instance options should be a valid JSON
                      </div>
                    </ng-template>
                  </ngb-panel>
                </ngb-accordion>
              </div>
            </div>

            <div class="form-group row mt-4">
              <div class="btn-toolbar" role="toolbar" aria-label="Actions">
                <div class="btn-group mr-2" role="group">
                  <button type="button" class="btn btn-danger" (click)="handle_cancel_action()" aria-label="Cancel">Cancel</button>
                </div>
                <div class="btn-group" role="group">
                  <button class="btn btn-success" type="button" (click)="save()" [ngClass]="{ 'disabled': form.invalid }" aria-label="Save">Save</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #confirm_cancel_template>
  <div class="modal-body text-center bg-light text-dark font-weight-bold">
    <div class="mb-3">Any modification will be ignored. Continue?</div>
    <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Actions">
      <div class="btn-group mr-2" role="group">
        <button type="button" class="btn btn-success" (click)="confirm_cancel()">Yes</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-dark" (click)="cancel_modal.hide()">No</button>
      </div>
    </div>
  </div>
</ng-template>
